appdirs==1.4.3
appnope==0.1.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
certifi==2017.4.17
cycler==0.10.0
deap==1.0.2
decorator==4.0.11
enum34==1.1.6
functools32==3.2.3.post2
ipykernel==4.6.1
ipython==7.16.3
ipython-genutils==0.2.0
jupyter-client==5.0.1
jupyter-core==4.3.0
matplotlib==2.0.0
numpy==1.22.0
packaging==16.8
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
ptyprocess==0.5.1
Pygments==2.7.4
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
pyzmq==16.0.2
scandir==1.5
scikit-learn==0.18.1
scipy==0.18.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
subprocess32==3.2.7
tornado==4.5.1
traitlets==4.3.2
wcwidth==0.1.7
